$font-stack: "Bungee", sans-serif;
$backgroud-color: #f4f1ec;
$font-size: 24px;
$red-background: red;
$body-text: #545149;
$transparent-background: rgba(0, 0, 0, 0);
$white-text: #fff;
$nav-background: #4056a1;
$header-color: grey;

@mixin vertical-align($align-vertical: center) {
  align-items: $align-vertical;
}

.user {
  @include vertical-align;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: $header-color;
  z-index: -1;
  padding-top: 80px;
  background-image: url("/images/cubes.png");
}

header h2 {
  margin: 0;
  color: white;
}

header span {
  margin: 0;
  color: $white-text;
  font-weight: lighter;
}

header img {
  height: 160px;
}

@media only screen and (min-width: 1024px) {
  .user {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 400px;
    background-color: $header-color;
    background-image: url("/images/cubes.png");
    margin: 10em 2em;
    padding-top: 1em;
  }

  header h2 {
    color: $white-text;
    margin-bottom: 1em;
  }

  header span {
    color: $white-text;
    font-weight: lighter;
  }

  header img {
    height: 256px;
  }
}
