$font-stack: "Bungee", sans-serif;
$background-color: #f4f1ec;
$font-size: 24px;
$red-background: red;
$body-text: #545149;
$transparent-background: rgba(0, 0, 0, 0);
$white-text: #fff;
$nav-background: #4056a1;
$header-color: grey;
$white-smoke: whitesmoke;
$light-grey: lightgrey;
$tomato-color: tomato;

.tweet {
  margin: 1.5em 0;
  border: 3px solid $header-color;
  padding: 0.5em;
}

.tweet:hover {
  box-shadow: 10px 10px $light-grey;
}

.tweet header {
  margin: 0.5em 0.5em 0 0.5em;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.tweet header div {
  display: flex;
}

.tweet header img {
  height: 50%;
}

.tweet header h5 {
  margin: 0.5em;
  font-weight: normal;
}

.tweet header p {
  align-self: flex-end;
  font-weight: bold;
  color: $light-grey;
}

.content {
  margin-top: 0;
}

.tweet footer {
  border-top: 3px solid $header-color;
  display: flex;
  justify-content: space-between;
}

.tweet footer h6 {
  margin: 0.5em;
}

.tweet footer i {
  font-size: 70%;
  color: $nav-background;
  cursor: pointer;
}

.tweet footer i:hover {
  color: $tomato-color;
}

#emptyTweet {
  color: $red-background;
  display: none;
}

#charLimit {
  color: $red-background;
  display: none;
}
