nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 0 1.5em;
}

nav span {
  font-family: "Bungee", sans-serif;
  margin-top: 1.5em;
  font-size: 1.2em;
  cursor: pointer;
}
nav p {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  cursor: pointer;
}
nav i {
  color: red;
  cursor: pointer;
}

.nav-right {
  align-items: center;
  display: flex;
  flex-direction: column;
}

nav .fas {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

nav .fas {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056a1;
    max-width: 1420px;
    margin: 0 auto;
  }
}
