.new-tweet {
  display: none;
}

#tweet-text {
  width: 100%;
  border: none;
  border-bottom: 3px solid grey;
  outline: none;
  background-color: #f4f1ec;
}

.tweet-control {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

button {
  background-color: #4056a1;
  color: whitesmoke;
}

label {
  font-weight: bold;
}
