.tweet {
  margin: 2em 0;
  border: 3px solid grey;
  padding: 0.5em;
}

.tweet:hover {
  box-shadow: 10px 10px lightgrey;
}

.tweet header {
  margin: 0.5em 0.5em 0 0.5em;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.tweet header div {
  display: flex;
}

.tweet header img {
  height: 60%;
}

.tweet header h4 {
  margin: 0.5em;
  font-weight: normal;
}

.tweet header p {
  align-self: flex-end;
  font-weight: bold;
  color: lightgrey;
}

.content {
  margin-top: 0;
}

.tweet footer {
  border-top: 3px solid grey;
  display: flex;
  justify-content: space-between;
}

.tweet footer h6 {
  margin: 0.5em;
}

.tweet footer i {
  font-size: 70%;
  color: #4056a1;
  cursor: pointer;
}

.tweet footer i:hover {
  color: tomato;
}

#emptyTweet {
  color: red;
  display: none;
}

#charLimit {
  color: red;
  display: none;
}
